*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(85, 85, 85, .5);
}
.game{
    height: 300px;
    width: 400px;
    background: rgba(248, 104, 26, 0.8);
    /* border: none; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}
.game h1{
    margin-bottom: 30px;
    background: rgb(0, 206, 209, 0.2);
    color: rgb(173, 255, 47, 0.5);
    word-spacing: 5px;
    letter-spacing: 2px;
    /* width: 200px; */
    /* border: 2px solid red; */
    border-radius: 10px;
    /* position: relative;  */
}
.game #systemWork{
    height: 100px;
    margin-bottom: 50px;
    margin-left: -100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.game .btnSection{
    width: 300px;
    display: flex;
    justify-content: space-around;
}
.game .btnSection .btn{
    width: 60px;
    height: 30px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}